---
argument_specs:
  main:
    short_description: 'Configure traefik with compose'
    description:
      - 'Setup and configure traefik to run with compose'
    options:
      setup_traefik_compose_path:
        type: 'str'
        required: false
        default: "/opt/docker/traefik"
        description:
          - 'Change path of the compose deployment'

      setup_traefik_create_network:
        type: 'bool'
        required: false
        default: true
        description:
          - 'Create the traefik_public network'
          - 'The network is required for traefik, so if you disable this option you have to create the network manual'

      setup_traefik_network_ipam_config:
        type: 'list'
        required: false
        elements: dict
        description:
          - 'List of Networks with Gateway for the traefik_public network'
        options:
          subnet:
            type: 'str'
            required: true
            description:
              - 'Subnet of the network with netmask'
          gateway:
            type: 'str'
            required: true
            description:
              - 'Gateway of the network'

      setup_traefik_readtimeout:
        type: int
        required: false
        description:
          - 'Timeout for read'
          - 'Traefik defaults to 60'
          - 'Set to zero, to disable the timeout'

      setup_traefik_dashboard_url:
        type: 'str'
        required: false
        default: '{{ inventory_hostname }}'
        description:
          - 'URL for the Traefik Dashboard'

      setup_traefik_dashboard_auth:
        type: 'str'
        required: true
        description:
          - 'htpasswd-string for the dashboard basicauth'
          - '$ needs to be escaped with $ --> $$'

      setup_traefik_certs_path:
        type: 'str'
        required: false
        default: '/opt/certs'
        description:
          - 'Change path of the certs folder'

      setup_traefik_cert_domains:
        type: 'list'
        elements: 'str'
        required: false
        description:
          - 'List of Domains with custom Certs'
...
