---
- name: Check if compose_projects json exists
  ansible.builtin.stat:
    path: "{{ update_compose_projects_json_path }}/compose_projects.json"
  register: update_compose_projects_stat_result

- name: Get JSON-List of running compose projects
  ansible.builtin.shell: docker compose ls --format json > {{ update_compose_projects_json_path }}/compose_projects.json;
  when: not update_compose_projects_stat_result.stat.exists
  changed_when: not update_compose_projects_stat_result.stat.exists

- name: Read JSON-file
  ansible.builtin.slurp:
    path: "{{ update_compose_projects_json_path }}/compose_projects.json"
  register: update_compose_projects_slurp_output

- name: Update all compose projects
  community.docker.docker_compose_v2:
    project_src: '{{ update_compose_projects_src }}'
    pull: 'missing'
  vars:
    update_compose_projects_src: '{{ item["ConfigFiles"].split(",")[0] | dirname }}'
  with_items: '{{ update_compose_projects_slurp_output.content | b64decode | from_json }}'
  when:
    - update_compose_projects_src not in update_compose_projects_ignore_projects

- name: Delete compose_projects.json
  ansible.builtin.file:
    path: "{{ update_compose_projects_json_path }}/compose_projects.json"
    state: absent
...
