---
services:
  {{ setup_vault_name }}:
    image: {{ setup_vault_image }}:{{ setup_vault_version }}
    container_name: {{ setup_vault_name }}
{% if setup_vault_expose or setup_vault_cluster_expose %}
    ports:
{% if setup_vault_expose %}
      - "{{ setup_vault_external_port }}:{{ setup_vault_bind_port }}"
{% endif %}
{% if setup_vault_cluster_expose %}
      - "{{ setup_vault_cluster_external_port }}:{{ setup_vault_cluster_bind_port }}"
{% endif %}
{% endif %}
    restart: always
    volumes:
      - {{ setup_vault_data_path }}/logs:/vault/logs
      - {{ setup_vault_data_path }}/{{ setup_vault_storage }}:/vault/{{ setup_vault_storage }}
      - {{ setup_vault_data_path }}/config:/vault/config
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_ADDR: "http://127.0.0.1:{{ setup_vault_bind_port }}"
    entrypoint: vault server -config=/vault/config/vault.hcl
{% if setup_vault_transit %}
    env_file: .vaultenv
{% endif %}
{% if (setup_vault_network is defined and setup_vault_network | length > 0) or setup_vault_traefik %}
    networks:
{% if (setup_vault_network is defined and setup_vault_network | length > 0) %}
      - {{ setup_vault_network }}
{% endif %}
{% if setup_vault_traefik %}
      - traefik_public
{% endif %}
{% endif %}
{% if setup_vault_traefik and (setup_vault_traefik_default_labels or (setup_vault_traefik_custom_labels is defined and setup_vault_traefik_custom_labels | length > 0)) %}
    labels:
{% if setup_vault_traefik_default_labels %}
      # Traefik Basic
      - "traefik.enable=true"
      # Router HTTPS
      - "traefik.http.routers.{{ setup_vault_name }}.rule=Host(`{{ setup_vault_traefik_fqdn }}`)"
      - "traefik.http.routers.{{ setup_vault_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ setup_vault_name }}.tls=true"
      - "traefik.http.services.{{ setup_vault_name }}.loadbalancer.server.port={{ setup_vault_bind_port }}"
      - "traefik.http.routers.{{ setup_vault_name }}.service={{ setup_vault_name }}"
      # Traefik-Network
      - "traefik.docker.network=traefik_public"
{% endif %}
      {{ setup_vault_traefik_custom_labels | indent(6) }}
{% endif %}
{% if (setup_vault_network is defined and setup_vault_network | length > 0) or setup_vault_traefik %}
networks:
{% if (setup_vault_network is defined and setup_vault_network | length > 0) %}
  {{ setup_vault_network }}:
    external: true
{% endif %}
{% if setup_vault_traefik %}
  traefik_public:
    external: true
{% endif %}
{% endif %}
...
